* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* total section */
.total {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
/* icon section */
.icon {
    width: 80px;
    background-color: #EAF1FB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.icon button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 5px;
}
.icon button:hover{
    background-color: #D3E3FD;
    border-radius: 50%;
}
.icon .manubar img{
    width: 20px;
    height: 20px;
    background: none;
}
.icon .mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.icon .mail button img {
    width: 20px;
    height: 20px;
    background: none;
}
.mail .btn {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
/* compose section */
.compose{
    width: 250px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #F6F8FC;
}
.compose p{
    color: #545558;
}
.compose .mail_img{
    cursor: pointer;
}
.compose .mail_img button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 130px;
    padding: 20px 15px 20px 15px;
    margin-top: 20px;
    border-radius: 16px;
    border: none;
    background-color: #C2E7FF;
    cursor: pointer;
}
.compose .mail_img button img{
     width: 15px;
     height: 15px;
     cursor: pointer;
}
.compose .mail_img button p{
    font-size: 16px;
    font-weight: 500;
}
.others {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.compose .others button {
    display: flex;
    align-items: center;
    gap: 15px;
    background: transparent;
    border: none;
    padding: 4px 15px;
    border-radius: 15px;
    cursor: pointer;
}
.compose .others img{
    width: 30px;
    height: 30px;
}
.compose .others button:hover{
    background-color: #D3E3FD;
}
.compose .label_top {
    display: flex;
    flex-direction: row;
    margin-top: 50px; 
    margin-left: 25px;
    background: transparent;
    gap: 100px;
}
.compose .label_top p{
    padding-top: 5px;
}
.compose .label_top button{
    background: transparent;
    border: none;
}
.compose .label_top img{
    padding: 5px;
}
.compose .label_top img:hover{
    cursor: pointer;
    background-color: #EAEBEF;
    border-radius: 50%;
}
/* main section */
.main{
    background: #F5F7FB;
    padding-top: 7px;
    width: 965px;
    flex-direction: row;
}
.main .main_div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 960px;
}
.main .main_div .main_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #E4ECF8;
}
.main .main_div button {
    border: none;
    outline: none;
    width: 670px;
    border-radius: 30px;
    background: transparent;
    /* background: #EAF1FB; */
}
.main .main_div .main_btn .hove:hover{
    cursor: pointer;
    border-radius: 40px;
    background-color: #E4ECF8;
}
.main .main_div button:hover{
    cursor: pointer;
    border-radius: 40px;
    background-color: #E4ECF8;
}
.main .main_div img {
    height: 25px;
    width: 25px;
}
.main .main_btn .int{
    border: none;
    outline: none;
    width: 550px;
    background-color: #E4ECF8; 
}
/* .main .main_btn .int:hover{
    background-color: #E4ECF8;
} */
.main .main_btn .int:active{
    background-color: white;
}
/* .main .main_btn .int:focus{
     background-color: white;
} */
.main .main_div .main_btn:hover{
    background: #E4ECF8;
}
.main .main_div .main_btn:active{
    background: white;
}
.main .main_div .main_btn:focus{
    background: white;
}
.main .main_div .active_btn {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    width: 100px;
    background-color: #E4ECF8;
}
.main .main_div .active_btn:hover{
    background-color: #E4ECF8;
    border-radius: 40px;
}
.main .active_btn p{
    margin-top: 0px;
    padding: 0px;
}
.main .main_div .ques_btn {
    width: 55px;
    cursor: pointer;
}
.main .main_div .satting{
    width: 52px;
    cursor: pointer;
}
.main .main_div .apps {
    width: 52px;
    height: 45px;
    cursor: pointer;
}
.main .main_div .id{
    border: none;
    width: 52px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
}
.main .main_div img{
    border-radius: 50%;
}
.message_aria {
    background-color: white;
    width: 960px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}
.message_aria #chack {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
.mwssage_aria p{
    color: #545558;
}
.message_aria .messa{
    margin-top: 10px;
}
.messa img{
    padding-left: 10px;
    cursor: pointer;
}
.primary_aria{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}
/* .message_aria .primary_aria p{
    color: #545558;
} */
.primary_aria .primary:hover{
    background-color: #F4F4F4;
    color: #4F57D0;
}
.primary_aria .promotion:hover{
    background-color: #F4F4F4;
    color: #4F57D0;
}
.primary_aria .social:hover{
    background-color: #F4F4F4;
    color: #4F57D0;
}
.primary {
    width: 220px;
    padding: 10px 2px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    margin-left: 10px;
}
.promotion {
    width: 220px;
    padding: 10px 2px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    margin-left: 10px;
}
.social {
    width: 220px;
    padding: 10px 2px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    margin-left: 10px;
}
.main .message_aria .messa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main .message_aria .messa .right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main .message_aria .messa .right p{
    cursor: pointer;
}
.main .messages .mahabub{
    display: flex;
    flex-direction: row;
}
.main .messages .mahabub:hover{
    background-color: #D3E3FD;
    cursor: pointer;
}
.messages .mahabub .mahab_img {
    height: 22px;
    filter: grayscale(100%);
}
.messages .mahabub .mahab_img input {
    height: 23px;
    width: 18px;
}
.main .messages .mahabub .starimg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.main .messages .mahabub .starimg p{
    width: 642px;
    color: #545558;
}
.side {
    background-color: #F6F8FC;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55px;
    padding-top: 7px;
}
.side .myid img{
    width:40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
 .side button {
    border: none;  
    background: transparent; 
}
.side .myid img:hover{
    cursor: pointer;
    background-color: #DEDFE3;
    border-radius: 50%;
}